<html>
    <head>
        <title>FAQ Page</title>
        <link rel="stylesheet" type="text/csss" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width" , initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right"><i class="material-icons">lightbulb_outline</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/faqs/new">ADD</a></li>
                </ul>
            </div>
        </nav>
  