<% include ./partials/header %>

<% allfaqs.forEach(function(faq){ %>
    <div class="list-faqs">
        <h2><%= faq.problem %></h2>
        <span><%= faq.created.toDateString() %></span>
        <a class="btn btn-outline-primary" role="button"  href='/faqs/<%= faq._id%>' >Read more</a>
    </div>
<% }) %>
<% include ./partials/footer %>