<% include ./partials/header %>
<h1>FAQ</h1>

<% allfaqs.forEach(function(faq){ %>
    <div>
        <h2><%= faq.problem %></h2>
    </div>
    <div>
        <span><%= faq.created.toDateString() %></span>
        <a href='/faqs/<%= faq._id%>'>Read more</a>
    </div>
<% }) %>
<% include ./partials/footer %>